MODAL 2 HELP -->
<div class="modal fade" id="modal-two">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="panel-group" id="help-acc" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseA" aria-expanded="true" aria-controls="collapseA">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Basics
                     </h4>
                  </div>
               </a>
               <div id="collapseA" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingA">
                  <div class="panel-body panel-bhelp">
                     <p>The interface is responsive so that the Submit button at the bottom screen depends on the sequence of taps you make on the screen.</p>
                     <p>Keep in mind what your objective is, and then tap out the necessary sequence to action it.</p>
                     <p>It's like talking. Have an idea of what you are going to say and let the words come out. Once you get the hang out if, you will using this app like a native!</p>
                     <p>This is a basic help feature and will be upgraded with your financial help.</p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseB" aria-expanded="true" aria-controls="collapseB">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Like
                     </h4>
                  </div>
               </a>
               <div id="collapseB" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingB">
                  <div class="panel-body panel-bhelp">
                     <p><b>0.</b> Tap the 'undo' icon to clear the screen.<br/>
                     <b>1.</b> Tap on the Product Space to show a list of Products.<br/>
                     <b>2.</b> Tap on a Product to choose it.<br/>
                     <b>3.</b> Tap on the cross-hairs to choose a value.<br/>
                     <b>4.</b> Hit the purple 'LIKE' button.</p>
                     <p>Add optional comment during this sequence.</p>
                     <p>Tap on eye to see details and link.</p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseC" aria-expanded="true" aria-controls="collapseC">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Gift/Revoke
                     </h4>
                  </div>
               </a>
               <div id="collapseC" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingC">
                  <div class="panel-body panel-bhelp">
                     <p><b>0.</b> Once you have chosen a Product (see Like), tap on the V to change it to £.<br/>
                     <b>1.</b> Tap on the Person Space to show a list of People.<br/>
                     <b>2.</b> Tap on a Person who has not been gifted yet.<br/>
                     <b>3.</b> Tap on the cross-hairs to choose a monetary value.<br/>
                     <b>4.</b> Hit the green 'GIFT' button</p>
                     <p>Add optional comment.</p>
                     <p>Submit button will be orange 'REVOKE' if offered gift is pending.</p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseD" aria-expanded="true" aria-controls="collapseD">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Accept/Reject
                     </h4>
                  </div>
               </a>
               <div id="collapseD" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingD">
                  <div class="panel-body panel-bhelp">
                     <p><b>0.</b> Tap the 'undo' icon to clear screen, and tap V to change to £.<br/>
                     <b>1.</b> Tap on the Product Space to show a list of Products.<br/>
                     <b>2.</b> Tap on a Product that has been offered to you.<br/>
                     <b>3.</b> Hit the green 'ACCEPT' button, or long-tap for the red 'REJECT' button.</p>
                     <p>Add optional comment.</p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseE" aria-expanded="true" aria-controls="collapseE">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Create
                     </h4>
                  </div>
               </a>
               <div id="collapseE" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingE">
                  <div class="panel-body panel-bhelp">
                     <p><b>0.</b> Tap the 'undo' icon to clear screen.<br/>
                     <b>1.</b> Tap on the '+'  on the Product Space bar.<br/>
                     <b>2.</b> Choose Title, and paste link into content.<br/>
                     <b>3.</b> Hit the blue 'CREATE' button.</p>
                     <p>An original Comment is advisable.</p>
                     <p>Also, if you are not the originator of the content, Tap on the Person Space + to input an Originator's name or select 'Unknown' from list.</p>
                  </div>
               </div>
            </div>
            <div class="panel panel-default panel-help">
               <a data-toggle="collapse" data-parent="#help-acc" href="#collapseF" aria-expanded="true" aria-controls="collapseF">
                  <div class="panel-heading panel-hhead" role="tab">
                     <h4 class="panel-title panel-htitle text-center">
                        Invite
                     </h4>
                  </div>
               </a>
               <div id="collapseF" class="panel-collapse panel-hcoll collapse" role="tabpanel" aria-labelledby="headingF">
                  <div class="panel-body panel-bhelp">
                     <p><b>0.</b> Tap the 'undo' icon to clear screen.<br/>
                     <b>1.</b> Tap on the '+' on the People Space bar.<br/>
                     <b>2.</b> Paste or type mobile number into space -- with country code.<br/>
                     <b>3.</b> Hit the blue 'INVITE' button.</p>
                     <p>A personal invitation Comment is advisable.</p>
                  </div>
               </div>
            </div>
         </div>
         <button type="button" class="btn btn-default btn-modal" style="width: 100%; height: 50px" data-dismiss="modal">Ok</button>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL 3 STATUS ERROR -->
<div class="modal fade" id="modal-status-err">
   <div class="modal-dialog">
      <div class="modal-content modal-error">
         <div class="tabbable">
            <div class="modal-body">
               <div class="tab-content">
                  <div class="tab-pane fade active in" id="1">
                     <h4 class="text-center">
                        Error:<br class="hidden-sm hidden-md hidden-lg"> <b><span id="msg_alert"></span></b>
                     </h4>
                  </div>
               </div> <!-- end tab-content -->
            </div> <!-- modal-body -->
         </div> <!-- end tabbable -->
         <button type="button" class="btn btn-default btn-modal btn-error" style="width: 100%; height: 40px" data-dismiss="modal">Ok</button>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL 4 STATUS ACCEPT -->
<div class="modal fade" id="modal-status-acc">
   <div class="modal-dialog">
      <div class="modal-content modal-success">
         <div class="tabbable">
            <div class="modal-body">
               <div class="tab-content">
                  <div class="tab-pane fade active in" id="1">
                     <h4 class="text-center">
                        <b><span style="color: #fff" id="msg_alert_acc"></span></b>
                     </h4>
                  </div>
               </div> <!-- end tab-content -->
            </div> <!-- modal-body -->
         </div> <!-- end tabbable -->
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL 5 MORE INFO -->
<div class="modal fade" id="modal-more">
   <div class="modal-dialog">
      <div class="modal-content">
         <div style="color: #fff; padding: 10px 20px 20px 20px">
            <h4>Gift information:</h4>
            <b>Gifter Name:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.gifterProd.gifter_name }}" disabled>

            <b>Card Comment:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.gifterProd.gifter_comment }}" disabled>

            <b>Gifter Co-gift:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.gifterProd.gifter_co_gift }}" disabled>

            <b>Card Name:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.gifterProd.cardname }}" disabled>

            <b>Originator Name:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.gifterProd.originator }}" disabled>

            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <b>Total Likes:</b><br/>
                  <input type="text" class="form-control input-modal" value="{{ m.gifterProd.ourVj }}" disabled>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <b>Total Co-gifted:</b><br/>
                  <input type="text" class="form-control input-modal" value="{{ m.gifterProd.gifter_co_gift }}" disabled>
               </div>
            </div>
         </div>
         <button type="button" class="btn btn-default btn-modal" style="width: 100%; height: 40px" data-dismiss="modal">Ok</button>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL 6 MORE INFO -->
<div class="modal fade" id="modal-more-2">
   <div class="modal-dialog">
      <div class="modal-content">
         <div style="color: #fff; padding: 10px 20px 20px 20px">
            <h4>Card information:</h4>
            <b>Gifter Name:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.FinalProd.gifter_name }}" disabled>
            <b>Card Name:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.FinalProd.cardname }}" disabled>
            <b>Originator:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.FinalProd.originator }}" disabled>
            <b>Date:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.FinalProd.date_valued }}" disabled>
            <br>
            <div class="text-right">
               <a type="submit" href="{{ m.FinalProd.gift }}" target="_blank" class="btn btn-danger btn-view-gift">OPEN GIFT</a>
            </div>
         </div>
         <button type="button" class="btn btn-default btn-modal" style="width: 100%; height: 40px" data-dismiss="modal">Ok</button>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- MODAL 7 ACCEPTED -->
<div class="modal fade" id="modal-more-3">
   <div class="modal-dialog">
      <div class="modal-content">
      <div style="color: #fff; padding: 10px 20px 20px 20px">
            <h4>Card information:</h4>
            <b>Gifter Name:</b><br/>
            <input type="text" class="form-control input-modal" id="gName" disabled>
            <b>Card Name:</b><br/>
            <input type="text" class="form-control input-modal" id="cName"disabled>
            <b>Originator:</b><br/>
            <input type="text" class="form-control input-modal" id="oName" disabled>
            <br>
            <div class="text-right">
               <a type="submit" id="aLink" target="_blank" class="btn btn-danger btn-view-gift">OPEN GIFT</a>
            </div>
         </div>
         <!--
         <div style="color: #fff; padding-bottom: 20px; padding-left: 20px; padding-right: 20px">
            <br>
            <span>Gifter Name:</span> <b id="gName"></b><br/>
            <span>Card Name:</span> <b id="cName"></b><br/>
            <span>Originator Name:</span> <b id="oName"></b><br/>
            <span>Gift:</span> <a id="aLink" target="_blank"><b id="agift"></b></a><br/>
         </div>
         -->
         <a type="button" href="/" class="btn btn-default btn-modal" style="width: 100%; height: 40px; line-height: 30px">Ok</a>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL 8 MORE INFO -->
<div class="modal fade" id="modal-user-info">
   <div class="modal-dialog">
      <div class="modal-content">
         <div style="color: #fff; padding: 10px 20px 20px 20px">
            <!-- <h4>Account information:</h4> -->
            <b>User ID:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.userData.uname }}" disabled>

            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <b>Name:</b><br/>
                  <input type="text" class="form-control input-modal" value="{{ m.userData.firstname }}" disabled>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <b>Last Name:</b><br/>
                  <input type="text" class="form-control input-modal" value="{{ m.userData.lastname }}" disabled>
               </div>
            </div>

            <b>Mobile:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.userData.movile }}" disabled>

            <b>Email:</b><br/>
            <input type="text" class="form-control input-modal" value="{{ m.userData.email }}" disabled>

            <b>Balance:</b><br/>
            <input type="text" class="form-control input-modal" value="£ {{ m.Balance | number:2 }}" disabled>
            <br/>
            <form id="changePassword" method="POST" action="/changePassword">

               Actual Password<input type="password" class="form-control input-modal" id="ap">
               New password<input type="password" class="form-control input-modal" id="np1">
               Repeat password<input type="password" class="form-control input-modal" id="np2">
               <br/>
               <div class="alert alert-success" role="alert" id="passOK"></div>
               <div class="alert alert-danger" role="alert" id="passError"></div>
               <button type="submit" class="btn btn-danger" style="width: 100%">Change Password</button>
            </form>
            <br>
            <div class="text-right">
               <form id="logout" method="GET" action="/logout">
                  <button type="submit" class="btn btn-danger btn-logout" style="width: 100%">LOG OUT</button>
               </form>
            </div>
         </div>
         <button type="button" class="btn btn-default btn-modal" style="width: 100%; height: 40px" data-dismiss="modal">Ok</button>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal