<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true" ng-show="m.invitePers">
   <div class="panel panel-default">
      <div class="panel-heading" role="tab">
         <h4 class="panel-title text-center">
            Ecosquared Web-App
         </h4>
      </div>
      <input id="invEco" type="text" class="form-control input-two text-center" value="http://ecosquared.gift" disabled>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab">
         <h4 class="panel-title text-center">
            Email Invitation
         </h4>
      </div>
      <a data-toggle="collapse" data-parent="#accordion4" href="#collapseZ" aria-expanded="true" aria-controls="collapseZ">
         <div class="panel-body panel-mid" role="tab" id="headingZ">
            <div class="selected">
               <br>
            </div>
         </div>
      </a>
      <div id="collapseZ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZ">
         <div class="panel-body">
            <table class="table table-condensed">
               <tbody>
                  <tr>
                     <td class="num-left"></td>
                     <td class="text-center">To be added...</td>
                     <td class="text-right num-right"></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading" role="tab">
         <h4 class="panel-title text-center">
            Person contact's details
         </h4>
      </div>
      <input type="text" id="invite_mobile" class="form-control input-two text-center" placeholder="Mobile number (include country code)">
   </div>
</div>