<div class="panel panel-default">
   <div class="panel-heading" role="tab">
      <h4 class="panel-title text-center">
         Project
      </h4>
   </div>
   <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <div class="panel-body panel-mid" role="tab" id="headingTwo">
         <div class="selected">
            <br>
         </div>
      </div>
   </a>
   <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
         <table class="table table-condensed">
            <tbody>
               <tr>
                  <td class="num-left"></td>
                  <td class="text-center">To be added...</td>
                  <td class="text-right num-right"></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>